* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}

/*! Navbar CSS starts here  */
.navbar-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: green; */
}

.navbar-container > .logo {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: purple; */
}

.navbar-container > .logo > svg {
  height: 40px;
  width: 80%;
}
.navbar-container > .navlist {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: lightpink; */
}
.navlist > li {
  list-style: none;
}

.navlist > li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.03rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-container > .dropdown {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}
.dropdown > select {
  height: 50%;
  width: 80%;
  /* border: none; */
  outline: none;
  padding: 0 10px;
  background-color: transparent;
  color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 3px;
}
/*! Navabr CSS ended and firstSection will start here */

